@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Noto+Sans+TC&family=Noto+Serif+TC&family=Ubuntu&display=swap');

:root {
    --color-foreground: #181818;
    --color-background: #ffffff;
    --color-greyscale-white-0: rgba(255, 255, 255, 0);
    --color-greyscale-white-50: rgba(255, 255, 255, 0.5);
    --color-greyscale-white-100: rgba(255, 255, 255, 1);
    --color-greyscale-500: #929292;
    --color-greyscale-700: #565656;
    --color-greyscale-800: #242424;
    --color-greyscale-darker: #080808;
    --color-primary: #00a3ff;
    --color-primary-light: #00d1ff;
    --color-common-white: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-foreground: #ffffff;
        --color-background: #181818;
    }
}

body {
    color: rgb(var(--color-foreground));
    background: var(--color-background);
}
