.wrapper {
    --input-height: 58px;
    position: relative;
    & > .calendar {
        position: absolute;
        top: calc(var(--input-height) + 10px);
        left: 0;
        display: none;
        &.visible {
            display: block;
        }
    }
}
