.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
    & > .button {
        padding: 12px;
        border-radius: 50%;
        & > svg {
            width: 24px;
            height: 24px;
            min-width: 24px;
            color: var(--color-common-white);
        }
        &:hover {
            & > svg {
                transform: scale(1.1);
            }
        }
        &.disabled {
            opacity: 0.5;
            cursor: not-allowed;
            &:hover {
                & > svg {
                    transform: unset;
                }
            }
        }
    }
}
